<script id="tplchart" type="text/html">
  <ul class="y-axis">
    <li><span>100</span></li>
    <li><span>80</span></li>
    <li><span>60</span></li>
    <li><span>40</span></li>
    <li><span>20</span></li>
    <li><span>0</span></li>
  </ul>
  <div class="bar">
      <div class="title">PASS</div>
      <div class="value tooltips" data-original-title="{{Pass}}" data-toggle="tooltip" data-placement="top">{{Pass}}</div>
  </div>
  <div class="bar ">
      <div class="title">DAMAGE</div>
      <div class="value tooltips" data-original-title="{{Damage}}" data-toggle="tooltip" data-placement="top">{{Damage}}</div>
  </div>
  <div class="bar ">
      <div class="title">MISSING</div>
      <div class="value tooltips" data-original-title="{{Missing}}" data-toggle="tooltip" data-placement="top">{{Missing}}</div>
  </div>
  <div class="bar ">
      <div class="title">Replacing</div>
      <div class="value tooltips" data-original-title="{{Replacing}}" data-toggle="tooltip" data-placement="top">{{Replacing}}</div>
  </div>
  <div class="bar ">
      <div class="title">O.O.S.</div>
      <div class="value tooltips" data-original-title="{{OOS}}" data-toggle="tooltip" data-placement="top">{{OOS}}</div>
  </div>
</script>