<script id="tpl" type="text/html">
  {{#inspect}}
    <tr class="gradeX" id="{{InspectId}}" >
      <td>{{Date}}</td>
      <td>{{Status}}</td>
      <td>{{Pinhole}}</td>
      <td>{{Cracks}}</td>
      <td>{{Stitching}}</td>
      <td>{{Buckle}}</td>
      <td>{{Condition}}</td>
      <td style="max-width: 200px; word-wrap: break-word;">{{Note}}</td>
     </tr>
  {{/inspect}}
</script>